* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}




body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 80%);

}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1C1C1C;
    border-radius: 20px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    text-align: left;
    font-size: 4rem;
    border: none;
    color: white;
    background-color: hsl(0, 0%, 20%);
}

#keys{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 10px;
    padding: 25px;

}

button{
    height: 80px;
    width: 80px;
    text-align: center;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
    
}
button:focus {
	outline: none;
}
button:active{
    background-color: hsl(37, 3%, 51%);
    
}
#opperators{
    background-color: #FF9601;
}
#opperators:hover{
    background-color: #fca42a;
}
#opperators:active{
    background-color: #ffc370;
}

@media screen and (max-width: 600px) {
	.calculator {
		max-width: 100%;
	}
	.buttons {
		grid-template-columns: repeat(4, 1fr);
	}
	button {
        height: 70px;
        width: 70px;
	}
}
@media screen and (max-width: 393px) {
	.calculator {
		max-width: 100%;
	}
	.buttons {
		grid-template-columns: repeat(4, 1fr);
	}
	button {
        height: 70px;
        width: 70px;
	}
}
@media screen and (max-width: 350px) {
	.calculator {
		max-width: 100%;
	}
	.buttons {
		grid-template-columns: repeat(4, 1fr);
	}
	button {
		font-size: 40px;
        height: 60px;
        width: 60px;
	}
}

